<div class="col-md-12">
  <div class="group">
    <%= link_to("New Group", new_group_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Create</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "group_item", :collection => @groups, :as => :group %>
    </tbody>
  </table>
  <script type="text/javascript">
    mixpanel.track_links(".group a", "Clicked New Group link", function(element) {
      return { text: $(element).html().replace(/(<([^>]+)>)/ig, "").trim() }
    });
    mixpanel.track_links(".table a", "Clicked Title link", function(element) {
      return { text: $(element).html().replace(/(<([^>]+)>)/ig, "").trim() }
    });
  </script>
</div>
